.nav-link.active {
    background-color: #6c757d !important;
    color: white !important;               
}
  
.nav-link {
    color: white ;               
}
  
.nav-link:hover {
    background-color: #5a6268 !important;  
}
  