.scrollable-checkbox-tags {
    background-color: var(--bs-dark-bg-subtle);
    border: 1px solid rgba(255, 255, 255, 0.1);
}

.form-label {
    color: var(--bs-light);
}

textarea::placeholder,
input::placeholder {
    color: #888;
    opacity: 0.75;
}

.card {
    background-color: var(--bs-body-bg);
    color: var(--bs-body-color);
}
