html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #7e7e7e;
}

[data-bs-theme="dark"] .btn-primary, .btn-secondary {
  background-color: rgb(59, 59, 59);
  border-color: rgb(104, 104, 104);
}

[data-bs-theme="dark"] .btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-secondary:hover, .btn-secondary:focus, .btn-secondary:active {
  background-color: rgb(0, 0, 0);
  border-color: rgb(0, 0, 0);
}

[data-bs-theme="light"] .btn-primary {
  background-color: rgb(172, 172, 172);
  border-color: rgb(160, 160, 160);
}

[data-bs-theme="light"] .btn-secondary {
  background-color: rgb(172, 172, 172);
  border-color: rgb(160, 160, 160);
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

/* Fixes error with lines not showing up */
.list-group-item {
  margin-bottom: 0 !important;
}

[data-bs-theme="dark"] {
  background-color: #1f1f1f;
  color: #e0e0e0;
}

[data-bs-theme="dark"] .navbar {
  background-color: #424242;
  color: #e0e0e0;
}

[data-bs-theme="dark"] .dropdown-menu {
  background-color: #424242;
  color: #e0e0e0;
}

[data-bs-theme="dark"] .dropdown-item {
  background-color: #646464;
  color: #e0e0e0;
}

[data-bs-theme="dark"] .dropdown-item:hover {
  background-color: #303030;
  color: #e0e0e0;
}

/* list items */
[data-bs-theme="dark"] .list-group-item {
  background-color: #d3d3d3;
  color: #000000;
  margin-top: 5px;
}

[data-bs-theme="dark"] .card-body {
  background-color: #161616;
  color: #e0e0e0;
}

[data-bs-theme="dark"] .card-header {
  background-color: #6e6e6e;
  color: #e0e0e0;
}

[data-bs-theme="dark"] .card-footer {
  background-color: #333333;
  color: #e0e0e0;
}

[data-bs-theme="dark"] .card {
  background-color: #161616;
  color: #e0e0e0;
}

[data-bs-theme="dark"] .table {
  background-color: #161616;
  color: #e0e0e0;
}

[data-bs-theme="dark"] .table th {
  background-color: #6e6e6e;
  color: #e0e0e0;
}

[data-bs-theme="dark"] .table td {
  background-color: #161616;
  color: #e0e0e0;
}

[data-bs-theme="dark"] .modal-dialog {
  color: #e7e7e7;
}

[data-bs-theme="dark"] .modal-content {
  background-color: #474747;
  color: #e7e7e7;
}

[data-bs-theme="dark"] .modal-header {
  background-color: #6e6e6e;
  color: #e7e7e7;
}

[data-bs-theme="dark"] .form-control {
  background-color: #292929;
  color: #e7e7e7;
}

[data-bs-theme="dark"] .form-select {
  background-color: #292929;
  color: #e7e7e7;
}

[data-bs-theme="dark"] .page-link {
  background-color: #292929;
  color: #e7e7e7;
}

[data-bs-theme="dark"] .page-link:hover {
  background-color: #8d8d8d;
  color: #e7e7e7;
}

[data-bs-theme="dark"] .page-item.active .page-link {
  background-color: #b6b6b6;
  border-color: #b6b6b6;
}

/* LIGHT MODE */


[data-bs-theme="light"] {
  background-color: #ffffff;
  color: #212529;
}

[data-bs-theme="light"] .list-group-item {
  background-color: #ffffff;
  color: #212529;
}

[data-bs-theme="light"] .card-body {
  background-color: #ffffff;
  color: #212529;
}

[data-bs-theme="light"] .card-header {
  background-color: #f7f7f7;
  color: #212529;
}

[data-bs-theme="light"] .card-footer {
  background-color: #f7f7f7;
  color: #212529;
}

[data-bs-theme="light"] .card {
  background-color: #ffffff;
  color: #212529;
}

[data-bs-theme="light"] .table {
  background-color: #ffffff;
  color: #212529;
}

[data-bs-theme="light"] .table th {
  background-color: #f7f7f7;
  color: #212529;
}

[data-bs-theme="light"] .modal-dialog {
  color: #000000;
  background-color: #ffffff;
}

[data-bs-theme="light"] .modal-content {
  background-color: #ffffff;
  color: #000000;
}

[data-bs-theme="light"] .modal-header {
  background-color: #f7f7f7;
  color: #000000;
}

[data-bs-theme="light"] .form-control {
  background-color: #ffffff;
  color: #000000;
}

[data-bs-theme="light"] .form-select {
  background-color: #ffffff;
  color: #000000;
}

[data-bs-theme="light"] .page-link {
  background-color: #f8f9fa;
  color: #212529;
}

[data-bs-theme="light"] .page-link:hover {
  background-color: #8d8d8d;
  color: #212529;
}

[data-bs-theme="light"] .page-item.active .page-link {
  background-color: #b6b6b6;
  border-color: #b6b6b6;
}

.modal-body ul {
    list-style-type: none;
    padding: 0;
}

.modal-body li {
    padding: 5px 0;
}

.performance-score {
  display: inline-block;
  padding: 0.25rem 0.25rem;
  border-radius: 50%;
  font-weight: bold;
  margin-left: 0.5rem;
  font-size: 1.45rem;
}

.score-red { background-color: #dc3545; color: white; }
.score-yellow { background-color: #ffc107; color: black; }
.score-green { background-color: #28a745; color: white; }
.score-purple { background-color: #6f42c1; color: white; }

.not-rated-badge { color: #6c757d; margin-left: 0.5rem; }