@model TrustTrade.Models.RegisterModalViewModel

<form method="post" asp-area="Identity" asp-page="/Account/Register">
    @Html.AntiForgeryToken()
    <div class="card-body p-5 text-center">
        <div class="mb-md-5 mt-md-4 pb-5">
            <h2 class="fw-bold mb-2 text-uppercase">Register</h2>
            <p class="text-white-50 mb-5">Create your account!</p>

            <!-- Username Field with Floating Label -->
            <div class="form-floating mb-4">
                <input asp-for="Username" class="form-control bg-dark text-white" id="floatingUsernameRegister" placeholder="Username" />
                <label for="floatingUsernameRegister">Username</label>
                <span asp-validation-for="Username" class="text-danger"></span>
            </div>

            <!-- Email Field with Floating Label -->
            <div class="form-floating mb-4">
                <input asp-for="Email" class="form-control bg-dark text-white" id="floatingEmailRegister" placeholder="name@example.com" />
                <label for="floatingEmailRegister">Email</label>
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>

            <!-- Password Field with Floating Label -->
            <div class="form-floating mb-4">
                <input asp-for="Password" type="password" class="form-control bg-dark text-white" id="floatingPasswordRegister" placeholder="Password" />
                <label for="floatingPasswordRegister">Password</label>
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>

            <!-- Confirm Password Field with Floating Label -->
            <div class="form-floating mb-4">
                <input asp-for="ConfirmPassword" type="password" class="form-control bg-dark text-white" id="floatingConfirmPassword" placeholder="Confirm Password" />
                <label for="floatingConfirmPassword">Confirm Password</label>
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>

            <button class="btn btn-outline-light btn-lg px-5" type="submit">Register</button>
        </div>
    </div>
</form>
