@{
    ViewData["Title"] = "Search Users";
}

<h1>Search for Users</h1>

<input type="text" id="searchTerm" name="searchTerm" placeholder="Search by username..." />
<div id="searchResults">
    <!-- Results will be injected here by fetch call -->
</div>

