<div id="loadTrigger" style="height: 1px;"></div>
            
<div id="loading" class="text-center my-4" style="display: none;">
    <div class="spinner-border text-primary" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
</div>

<div id="endMessage" class="text-center my-4" style="display: none;">
    <em>No more posts to show.</em>
</div>