@using TrustTrade.Models
@model List<User>

<table class="table">
    <thead>
        <tr>
            <th>Username</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
@foreach (var user in Model)
{
    <tr>
        <td>@user.Username</td>
        <td class="text-end">
            @if (user.IsSuspended.GetValueOrDefault())
            {
                <form asp-controller="Admin" asp-action="UnsuspendUser" method="post">
                    <input type="hidden" name="userId" value="@user.Id" />
                    <button type="submit" class="btn btn-success btn-sm">Reactivate</button>
                </form>
            }
            else
            {
                <form asp-controller="Admin" asp-action="SuspendUser" method="post">
                    <input type="hidden" name="userId" value="@user.Id" />
                    <button type="submit" class="btn btn-warning btn-sm">Suspend</button>
                </form>
            }
        </td>
    </tr>
}
    </tbody>
</table>
