@model SiteSettings

@{
    ViewData["Title"] = "Site Settings";
}

<h1 class="mb-4">Manage Site Settings</h1>
<form asp-action="@(Model.IsPresentationModeEnabled ? "DisablePresentationMode" : "EnablePresentationMode")" method="post">
    <button type="submit" class="btn btn-primary">
        @((Model.IsPresentationModeEnabled ? "Disable" : "Enable") + " Presentation Mode")
    </button>
</form>
