@using TrustTrade.ViewModels
@model UserSavesVM

<link rel="stylesheet" href="~/css/index.css" />

@{
    ViewData["Title"] = "User Saves";
}

<!-- Post Filters -->
<div>
    <partial name="../Posts/_Filters" model="Model.PostFilters" />
</div>

<!-- Post Preview Feed -->
<div class="mt-5">
    <partial name="../Posts/_Feed" model="Model.Posts" />
</div>

<!-- Pagination Controls -->
<div class="mt-5">
    <partial name="../Posts/_Pagination" model="Model.Pagination" />
</div>

@section Scripts {
    <script src="~/js/postFeed.js"></script>
}