@using TrustTrade.ViewModels
@model UserPostsVM

<link rel="stylesheet" href="~/css/index.css" />

@{
    ViewData["Title"] = "User Posts";
}

<!-- Post Filters -->
<div>
    <partial name="../Posts/_Filters" model="Model.PostFilters" />
</div>

<!-- Post Preview Feed -->
<ul class="list-group mt-4">
    <div id="postFeedContainer" class="mt-5" data-url="@Url.Action("LoadMoreUserPosts", "Posts")" data-username="@Model.Username">
        <partial name="../Posts/_Feed" model="Model.Posts" />
    </div>
</ul>

<!-- Pagination Info -->
<div>
    <partial name="../Posts/_PaginationInfo" />
</div>

@section Scripts {
    <script src="~/js/postFeed.js"></script>
}